body {
	width: 100%;
}

.navbar {
	padding: 0;
}

.admin-bg {
	background-image: url('../assets/japan.jpg');
	background-size: 100% 600px;
	background-repeat: no-repeat; 
}

.search-bg {
	background-color: #fff;
	background-image: url("../assets/sachi-title.png");
	background-repeat: no-repeat;
	background-position: 50% -100%;
}

.welcome-heading {
	margin: 8% 0 0 5%;
	font-size: 90px;
}

#search-box{
	position: fixed;
	top: 325px;
}

#search-box-width{
	width: 450px !important;
	border-radius: 55px;
	border-width: 2px;
}

#admin-url-input {
	padding: 2% 0;
}

#site-area-container {
	padding: 5% 0;
}

#search-history-count {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	background-color: #303640;
	border-radius: 5px;
	padding: 1% 5%;
	margin-top: 3%;
}

.search-form{
	margin-top: 10% !important;
}

.search-table {
	margin-top: 5%;
	margin-bottom: 5%;
	padding: 0 15%;
}

#results {
	margin: 10%;
}

#search-submit-btn{
	position: fixed;
	top: 395px;
}